@model Author
@{
    Layout = "_Layout";
}

<div class="main-Container ">

    <h2>Book List</h2>
    <hr />
    <div class="book-container d-flex">
        @{
            var books = ViewBag.book_list;
            var authors = ViewBag.author;


            foreach(var book in books ){
                foreach (var author in authors)
                {
                <div class="card" style="width: 18rem; mr-5">
                    <img class="card-img-top" src="./images/matilda.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h4>@book.title</h4>
                   
                        @if (@authors.idAuthor == @book.idAuthor)
                        {
                            <span> Author: @authors.name</span>
                        }
                   

                        <p class="card-text">
                            @book.description
                        </p>
                        
                       
                    </div>
                </div>

                }
            }
        }
        </div>
    </div>

</div>