
@{
    Layout = "_Layout";
}
@{
    var books = ViewBag.book;
    var title = $"/images/{books.title[0]}.jpg";
   
    <div class="card col-6 mb-3" >
        <div class="row g-0">
            <div class="card-img-book col-md-2">
                <img class="card-img-book" src=@title>
            </div>
            <div class="">
                <div class="card-body">
                    <h2 card-title>@books.title</h2>
                    <a class="link-info" asp-controller="Books" asp-action="deleteBook" asp-route-id="@books.idBooks">Eliminar</a>
                    @*<a asp-controller="Books" asp-action="editbook" asp-route-id="@books.idBooks">Editar</a>*@
                    <hr />
                    <h4>@books.description</h4>
                    <p>
                        @books.sinopsis
                    </p>
                </div>
            </div>
        </div>
                    
    </div>

          
        
    }

